.hero {
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 60px;
  margin: 0;
}

.hero .hero__description-container {
  margin-inline-end: 40px;
  max-width: 460px;
}

.hero__description-container .hero__title {
  max-width: 350px;
}

.hero__description-container .hero__text {
  padding: 0;
  /* font-size: 1.8rem; */
}

.hero__description-container .hero__button {
  padding: 15px 60px;
}

.hero .hero__img-container img {
  min-width: 400px;
  max-width: 650px;
  width: 100%;
}

.main .card {
  padding: 60px 30px 60px 80px;
  font-size: 1.8rem;
}

.main .card > div {
  max-width: 520px;
}

.card .card__title {
  font-size: 2.6rem;
}

.cta .cta-content {
  max-width: 600px;
  width: 100%;
}

.cta .cta__title {
  font-size: 2.6rem;
}

.cta .cta__button {
  padding: 15px 60px;
}

.footer-content .footer__img-container img {
  width: 150px;
}

.footer .footer-content-description {
  display: flex;
  justify-content: space-between;
}

.footer-content-description .footer__contact-info {
  max-width: 400px;
}

.footer-content-description .footer__list {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
