.header {
  background-image: url(/images/bg-hero-desktop.svg);
}

.nav > .nav__logo-container img {
  width: 130px;
}

.nav > .nav__small-button {
  width: 130px;
  padding: 10px 20px;
}

.hero .hero__title {
  font-size: 3.2rem;
}

.hero .hero__text {
  padding: 0;
}

.main .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.main .main-content .card:nth-child(odd) {
  flex-direction: row-reverse;
}

.main-content .card:nth-child(odd) div {
  margin-right: 40px;
}

.main-content .card:nth-child(even) div {
  margin-left: 40px;
}

.card .card__img-container {
  padding: 0;
}

.card .card__img-container img {
  min-width: 200px;
  max-width: 450px;
  width: 100%;
}

.footer-content .attribution-block {
  text-align: right;
}
